<div class="flex flex-col justify-center py-16 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-64 w-auto" src="<%= Routes.static_path(@conn,
      "/images/logos/terralixir_800.png") %>" alt="Terralixir Logo"/>
  
      <h2
        class="mt-6 text-center text-2xl leading-9 font-medium text-gray-900"
      >
        In progress...
      </h2>
    </div>
</div>